body {
    font-family: Arial; 
}
li {
    font-size: 14px;
}

.bold {
    font-weight: bold;
}
.centered {
    text-align: center;
}

#point {
    fill: purple;
}

#point:hover {
    fill: red;
}

/* style for flexbox
    box = parent, item=child */

.box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: left;
}
.item{
    display: inline-flex;
    flex-direction:column;
    justify-content: top;
}
